@charset "utf-8";

/////////////////   FORMATTING   ///////////////////////////

* { margin:0;}
html,body, #main{
	margin:0; padding:0;
	width:100%; min-height:100%;
	background-color:rgb(240,240,250); /* color must be here */
	}
a:hover{ cursor:pointer;}
#header_box, #footer_box{width:100%; min-width:600px;
	border-bottom: 1px solid #CCC; 
	overflow:hidden;}
#footer_box{position:relative;	border-top:1px solid #CCC; }
#sheet, #header, #footer{
	margin:0px auto;
	min-width:600px; max-width:930px;
	display:block;
}
#header{ height:70px;}
#footer{ height:10px; padding:15px 0px 15px 15px;
	min-width:585px; max-width:915px; /*adj for padding*/
	}
#sheet{padding: 1px 15px 15px 230px;
	min-width:355px; max-width:685px;
	min-height:400px;
	overflow:hidden;
	}

.abs1{
	width: 100%;
	height:1px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#top_name, #top_name_2, #menu {
	width: 200px;
}
#menu_box{
	display: block;
	width:100%; height:1px; min-width:930px;
	margin: 0px 0px 0px -355px;
}
#menu{
	padding-top:8px;
	margin:70px auto 0 auto;
	white-space:nowrap;
	overflow:hidden;
}
#content_title_box, .content_abs_box{
	display: block;
	/* width:99%; min-width:650px; max-width:900px; 
	border:1px solid orange;*/
	width:100%; min-width:600px; max-width:930px;
	height:1px;
	margin: 0 auto;
}
#content_title{
	width:200px;
	margin:15px 230px;
}
#top_name{
	left:0px; float:left;
	height:30px; padding:15px; margin:0 0;
}
#top_name_2{
	position:absolute;
}

.menu_item, .menu_sub, .menu_active, .sub_active {
	padding:5px;
	position:relative;
	line-height: 15px;
}
.menu_item a:hover, .menu_sub a:hover{ cursor:pointer; }

div.soundcloud_none, div.soundcloud_play{
	/* position:absolute; left:220px; right:0px; top:70px; */
	margin: 70px 0px 0px 230px;
	height:105px; padding:10px 15px 15px 0px;
	min-width:250px;
	z-index:11;
	display:none;
}
div.soundcloud_play{ display:block;}

.album{display:block; 
	min-width:230px; min-height:20px;
	float:left; padding:10px 0;
	}
	
.song:hover{ cursor:pointer; }
.no_hide{
	display:none;
	left:220px; right:0px; top:71px;
	padding:10px; padding-bottom:30px;
	color:#AAA;
	height:10px; 
	/*background-image: url(../images/grad_250_t.png);
	background-position:bottom; */
	z-index:10;
}
.news_post{
	margin:10px 0;
}

/////////////////////   FONT/TEXT   ////////////////////////////

body{
	font-family: Arial,sans-serif;
	font-size:13px;
	line-height:20px;
}
a, li{text-decoration:none;}
h1{ font-size: 14px; font-weight:bold; }
h2{ font-size: 10px;}

#header, #header_title, #menu, #content_title {
	font-family: Courier, monospace, Arial, sans-serif;}
#footer, #content_box, #sheet, #top_name_2, #top_name_title_2{ 
	font-family: Arial, sans-serif; font-size:12px; line-height:20px;}
#top_name_2, #top_name_title_2{font-size:10px; line-height:22px;}
#footer{font-size:10px; line-height:normal;}

#top_name, #top_name_title{
	line-height:20px;
	font-size:17px;
}
#content_title{ font-size:16px; font-weight:bold;}
#menu{
	font-size:10px;
}
.menu_item, .menu_sub, .menu_active, .sub_active {
	font-size:12px;
	line-height: 15px;
	text-decoration: none;
}
.menu_item a, .menu_active a, .menu_sub a, .sub_active a{
	text-decoration:none;}

a.soundtit{font-size:10px;}

.news_title{
	font-weight:bold; font-size:12px; line-height:20px;
}
.news_date{
	font-style:italic; font-size:10px; line-height:20px;
}


/////////////////////     COLORS    ////////////////////////////

#header_box, #footer_box{
	background-color:rgb(230,230,235); 
}

#top_name, #top_name a, #top_name_title{color: rgb(90,130,180);}

#content_title{color: #666;}

#footer{color:#AAA}

#sheet{ background: rgba(255,255,255,.5); }

.menu_item, .menu_sub, .menu_active, .sub_active {	color:#000; }
.menu_item a:hover, .menu_sub a:hover{ color:#03C;}
.menu_item a{ color:#177;}
.menu_sub a{ color: #399;}
.menu_active a, .sub_active a{ color:#06F;}

a.soundtit{color:#999;}
.song{ color:#034;}
.song:hover{color:#039;}
.a_play{ color:#03C; }
.a_play:hover{color:#03C;}

.clear{clear:both;}

/////////////////////	Z-INDICES   ////////////////////////////

#menu, #content, #menu_title{ z-index:4; }
#top_name, #top_name_title, #sheet a, .album{ z-index:3; }
#sheet, #header_box {z-index:4; }
#menu_box, .abs1, #content_title_box{z-index:0;}



/////////////////////    TITLE PG   ////////////////////////////

#sheet_title, #header_title {
	margin:0px auto;
	width:600px;
	display:block;
}

#header_title{
	height:120px; width:100%;
}
#menu_title_box{
	width:100%;
}
#menu_title{
	padding-top:8px;
	margin:40px auto 0 auto;
	white-space:nowrap;
	overflow:hidden;
}
#header_title{
	position:absolute;
	left:0;
	height:100px;
	background-color:rgb(230,230,235); border-bottom: 1px solid rgb(220,220,230); 
}

#sheet_title, #top_name_title {
	margin:0 auto;
}
#top_name_title{
	width:200px;
	margin:30px auto 0 auto;
	height:30px; padding-left:15px;
}
